  <a href="https://github.com/json-api/json-api"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

  <header>
    <nav>
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="/reading">Reading</a></li>
        <li><a href="/updating">Updating</a></li>
        <li><a href="/extending">Extending</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <h1>{{ page.title }}</h1>

  </header>
