@import 'compass';
@import 'fontello';
@charset "utf-8";

$page-width: 800px;
$header-height: 52px;

body {
  margin: $header-height 0 0 0;
  line-height: 150%;
  font-family: "Helvetica";
  font-family: "Titillium Web", sans-serif;
  background: #eee;
}

a {
  color: #393;
  &:hover {
    color: #050;
  }
}

h1 {
  margin: 1.5em 0 1.2em 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

.masthead {
  margin: 20px 0;
  padding: 30px;
  text-align: center;
  background: #f9f9f9;
  @include border-radius(8px);
  border: 1px solid #eee;

  h1 {
    margin: 0.5em;
  }
}

.headerlink {
  display: none;
  text-decoration: none;
}

h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink {
  display: inline-block;
}

h2 {
  margin: 1.5em 0 1em 0;
  font-size: 1.5em;
  color: #676;
  border-bottom: 3px solid #aba;
}

h3 {
  margin: 1.5em 0 1em 0;
  font-size: 1.35em;
  color: #666;
}

h4 {
  margin: 1.2em 0 1em 0;
  font-size: 1.2em;
  color: #898;
}

h5 {
  margin: 1.2em 0 1em 0;
  font-size: 1.1em;
  color: #777;
}

ul {
  margin-left: 0;
  padding-left: 0;

  li {
    margin-left: 20px;
  }
}

section {
  margin: 0 auto;
  width: $page-width;
  &:after {
    clear: both;
  }
}

header {
  position: absolute;
  width: 100%;
  min-width: $page-width;
  top: 0;
  left: 0;
  height: $header-height;
  border-bottom: 1px solid #aaa;
  z-index: 100;

  a.logo {
    margin: 1px 10px 0 0;
    float: left;
  }

  nav {
    float: left;
    margin-top: 13px;

    ul {
      margin: 0;
      padding-left: 0;
    }

    li {
      display: inline;
      font-weight: bold;
      list-style-type: none;
      margin: 0 0 0.5em 0;
      padding: 0;
      text-align: right;
      white-space: pre;

      a {
        font-family: monospace, serif;
        text-decoration: none;
        padding: 0.3em 0.5em;
        color: #777;
      }

      &.active a {
        color: #000;
      }
    }
  }
}

article {
  position: relative;
  margin: 0 auto;
  padding: 0 0 40px 0;
  overflow: hidden;
  background: #fff;
}

footer {
  padding: 15px 0;
  border-top: 1px solid #aaa;

  .details {
    float: left;
  }
  .links {
    float: right;
  }
}

.links {
  width: 200px;
  text-align: right;

  a {
    margin: 3px 10px 0;
    border-bottom: none;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    i {
      margin: 0;
    }

    /*
      This is for hiding text from users with normal vision
      but keeping the text for screen readers
    */
    span {
      display: inline-block;
      width: 1px;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.twitter, .github, .googleplus {
  font-size: 33px;
  line-height: 35px;
  color: #464646;
  height: 35px;
  width: 35px;
  display: inline-block;
}

.googleplus {
  font-size: 29px;
}