@charset "UTF-8";

body {
  margin: 52px 0 0 0;
  line-height: 150%;
  font-family: sans-serif;
  color: #222;
  background: #eee; }

a {
  color: #393; }
  a:hover {
    color: #050; }

h1 {
  margin: 1.5em 0 1.2em 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center; }

.masthead {
  margin: 20px 0;
  padding: 30px;
  text-align: center;
  background: #f9f9f9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #eee; }
  .masthead h1 {
    margin: 0.5em; }

.headerlink {
  text-decoration: none; }

h2:hover .headerlink:after,
h3:hover .headerlink:after,
h4:hover .headerlink:after,
h5:hover .headerlink:after {
  content: "¶"; }

h2 {
  margin: 1.5em 0 0.9em 0;
  font-size: 1.6em;
  line-height: 1.8em;
  border-bottom: 1px solid #eee; }

h3 {
  margin: 1.5em 0 1em 0;
  font-size: 1.4em;}

h4 {
  margin: 1.2em 0 1em 0;
  font-size: 1.2em;}

h5 {
  margin: 1.2em 0 1em 0;
  font-size: 1.1em;}

ul {
  margin-left: 0;
  padding-left: 0; }
  ul li {
    margin-left: 20px; }

section {
  margin: 0 auto;
  width: 800px; }
  section:after {
    clear: both; }

header {
  position: absolute;
  width: 100%;
  min-width: 800px;
  top: 0;
  left: 0;
  height: 52px;
  border-bottom: 1px solid #aaa;
  z-index: 100; }
  header a.logo {
    margin: 1px 10px 0 0;
    float: left; }
  header nav {
    float: left;
    margin-top: 13px; }
    header nav ul {
      margin: 0;
      padding-left: 0; }
    header nav li {
      display: inline;
      font-weight: bold;
      list-style-type: none;
      margin: 0 0 0.5em 0;
      padding: 0;
      text-align: right;
      white-space: pre; }
      header nav li a {
        font-family: monospace, serif;
        text-decoration: none;
        padding: 0.3em 0.5em;
        color: #777; }
      header nav li.active a {
        color: #000; }

article {
  position: relative;
  margin: 0 auto;
  padding: 0 0 40px 0;
  overflow: hidden;
  background: #fff; }

footer {
  padding: 15px 0;
  border-top: 1px solid #aaa; }
  footer .details {
    float: left; }
  footer .links {
    float: right; }

.links {
  width: 200px;
  text-align: right; }
  .links a {
    margin: 3px 10px 0;
    border-bottom: none;
    opacity: 0.7;
    /*
      This is for hiding text from users with normal vision
      but keeping the text for screen readers
    */ }
    .links a:hover {
      opacity: 1; }
    .links a i {
      margin: 0; }

 .github, .weibo {
  font-size: 33px;
  line-height: 35px;
  color: #464646;
  height: 35px;
  width: 35px;
  display: inline-block; }

blockquote {
margin: 18px 0 18px;
border: 1px dashed #CCC;
padding: 0 12px 8px 36px;
background: #F4F5F7 url(../images/blockquote.gif) 3px 3px no-repeat;
}
