html {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  background-color: #f0fff0; }

body {
  width: 700px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #f9f9f9;
  color: #222;
  line-height: 150%;
  box-shadow: 0 0 5px 0px #cec;
  font-family: "Titillium Web"; }

ul {
  margin-bottom: 20px; }

a {
  color: #393; }

a:hover {
  color: #050; }

h1 {
  margin-top: 0;
  padding: 20px 30px 30px 30px;
  font-family: "Helvetica";
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold; }

h2 {
  font-size: 16px;
  color: #676;
  border-bottom: 3px solid #aba; }

h3 {
  color: #898; }

h4 {
  color: #9a9; }

ul {
  margin-left: 0;
  padding-left: 0; }
  ul li {
    margin-left: 20px; }

header {
  margin: 20px 0 0 0;
  display: block; }

header nav {
  text-align: left; }

header nav ul {
  margin: 0;
  padding-left: 0;
  padding-bottom: 2em; }

header nav li {
  border-left: 1px solid #ccc;
  display: inline;
  font-weight: bold;
  list-style-type: none;
  margin: 0 0 0 .25em;
  padding: 0 0 0 .25em;
  text-align: right;
  padding: 0 .75em;
  white-space: pre; }

header nav li:first-child {
  border: none;
  padding-left: 0;
  margin-left: 0; }

header nav li:last-child {
  padding-right: 0;
  margin-right: 0; }

header nav li a {
  padding: .5em 0 .5em 0; }

footer {
  border-top: 5px solid #aba; }

.header-link {
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
  padding-left: 3px;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
