@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?60624967');
  src: url('../fonts/fontello.eot?60624967#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?60624967') format('woff'),
       url('../fonts/fontello.ttf?60624967') format('truetype'),
       url('../fonts/fontello.svg?60624967#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60624967#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.icon-search:before { content: '\e804'; } /* '' */
.icon-fork:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e806'; } /* '' */
.icon-gplus:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
