.highlight {
  background-image: url("/images/background.png");
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: Menlo, monospace;
  line-height: 16px;
  overflow: hidden;
  position: relative;
  margin: 2em 0;
  -webkit-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1); }
  .highlight .scroller {
    overflow: auto; }
  .highlight table {
    margin: 0 0; }
  .highlight .ribbon {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 52px;
    height: 20px; }
  .highlight.javascript .ribbon, .highlight.js .ribbon {
    background-image: url("/images/js-ribbon.png"); }
  .highlight.html .ribbon {
    background-image: url("/images/html-ribbon.png"); }
  .highlight.handlebars .ribbon {
    background-image: url("/images/handlebars-ribbon.png"); }

.highlight pre {
  padding-left: 1em; }

/*

Syntax highlighting styles for highlight.js.

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
pre code {
  display: block;
  padding: 0.5em;
  color: #333; }

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #998;
  font-style: italic; }

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #333;
  font-weight: bold; }

pre .number,
pre .hexcolor,
pre .ruby .constant {
  color: #099; }

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #dd1144; }

pre .title,
pre .id {
  color: #900;
  font-weight: bold; }

pre .javascript .title,
pre .lisp .title,
pre .clojure .title,
pre .subst {
  font-weight: normal; }

pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
  color: #458;
  font-weight: bold; }

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal; }

pre .attribute,
pre .variable,
pre .lisp .body {
  color: teal; }

pre .regexp {
  color: #009926; }

pre .class {
  color: #458;
  font-weight: bold; }

pre .symbol,
pre .ruby .symbol .string,
pre .lisp .keyword,
pre .tex .special,
pre .prompt {
  color: #990073; }

pre .built_in,
pre .lisp .title,
pre .clojure .built_in {
  color: #0086b3; }

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold; }

pre .deletion {
  background: #ffdddd; }

pre .addition {
  background: #ddffdd; }

pre .diff .change {
  background: #0086b3; }

pre .chunk {
  color: #aaaaaa; }
