<!doctype html>
<html>
  <head>
    {% include global_head_assets.html %}
    <title>JSON API &mdash; {{ page.title | strip | markdownify | strip_html }}</title>
  </head>

  <body>
    {% include site_navigation.html %}
    <div class="site-wrapper">
      {% if page.show_sidebar %}
        <div class="sidebar">
          <nav class="document-outline" id="document-outline">
            <h1 class="sidebar-top">{{ page.title | markdownify }}</h1>
          </nav>
        </div>
      {% endif %}
      <main class="content error-page-content">
        <h1>{{ page.title | markdownify }}</h1>
        <section>
          {{ content }}
        </section>
      </main>
    </div>
    {% include global_html_footer.html %}
  </body>

</html>
